<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="RahulshettyAcademy.TestComponents.TestListeners"></listener>
</listeners>
  <test thread-count="5" name="Main Web Test">
    <classes>
      <class name="RahulshettyAcademy.Tests.webTest"/>
    </classes>
  </test> <!-- Test -->

 <test thread-count="5" name="Error Validations">
    <classes>
      <class name="RahulshettyAcademy.Tests.validationCredTest"/>
    </classes>
  </test> <!-- Test -->

 <test thread-count="5" name="Test with creating json file">
    <classes>
       <class name="RahulshettyAcademy.Tests.webTestJson"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

     